//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face { 
	font-family: "Lato";
	src: url("../fonts/Lato-Light.eot");
	src: local("☺"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"),
	url("../fonts/Lato-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;   
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.eot");
	src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"),
	url("../fonts/Lato-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Medium.eot");
	src: local("☺"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype"),
	url("../fonts/Lato-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Semibold.eot");
	src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"),
	url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("fonts/Lato-Bold.eot");
	src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"),
	url("../fonts/Lato-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Heavy.eot");
	src: local("☺"), url("../fonts/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy.ttf") format("truetype"),
	url("../fonts/Lato-Heavy.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;  
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #6D6E72;
	font-size: 14px;
	font-weight: 400;
	a {
		color: #6D6E72;
	}
	&.lock {
		overflow: hidden;
	} 
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ЗАГОЛОВКИ>=================================================================================================================
// h1 {
// 	font-size: 35px;
// 	font-weight: 500;
// 	line-height: 38px;}
// h2 {
// 	font-size: 20px;
// 	font-weight: 500;
// 	line-height: 24px;}
// h3 {
// 	font-size: 28px;
// 	font-weight: 500;
// 	line-height: 38px;}
// h4 {
// 	font-size: 25px;
// 	font-weight: 500;
// 	line-height: 38px;} 
//<ЗАГОЛОВКИ>=================================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// position: relative;
	&.loaded {
	}
}
.page {
	flex: 1 1 auto; 
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	padding: 0 33px;
	// @media (max-width: $md1+px) {
	// 	// max-width: 970px;
	// 	padding: 0 10px;
	// }
	// @media (max-width: $md2+px) {
	// 	// max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	// max-width: none;
	// 	// padding: 0 10px;
	// }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>============================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
// @import "fancybox.min.scss";
// @import "pagging.scss";
//@import "icons.scss";
// @import "map.scss";
// @import "slider.scss";
// @import "collection.scss";
// @import "popup.scss";
@import "header.scss";
@import "footer.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>=====================================================================================================================================
.tables {
}
.tables__block {
}
.tables__string {
	border-bottom: 1px solid #D1D2D4;
}
.tables__container {
	display: flex;
	justify-content: space-between;
}
.container {
}
.tables__cell {
	width: 50%;
  padding: 8px 0;
	font-weight: 500;
	line-height: 17px;
	border-right: 1px solid #D1D2D4;
	&:last-child {
		color: #C4041C;
		padding-left: 38.5px;
		border-right: none;
	}
}

.big {
	height: 63px;
}

.operation {
	padding: 28px 0;
}
.operation__item-block {
	border-radius: 15px;
	border: 1px solid #D1D2D4;
	overflow: hidden;
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}

.operation__item-title {
	padding: 10px 15px;
	h2 {
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		color: #C4041C;
	}
}

.operation__tables {
	overflow: hidden;
}
.operation__string {
	justify-content: space-between;
	border-top: 1px solid #D1D2D4;
	&:last-child {
		border-bottom: 1px solid #D1D2D4;
	}
}
.operation__cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33%;
	padding: 5px;
	border-right: 1px solid #D1D2D4;
	&:last-child {
		border-right: none;
	}
}
.operation__check-blok {
	padding: 10px 15px;
	display: flex;
	justify-content: flex-end;
}
.operation__check-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 3px solid #0E5709;
	overflow: hidden;
	&:before {
		content: '';
		float: left;
		width: 22px;
		height: 17px;
    background-position: 0 0;
    background-repeat: no-repeat;
		// background-size: 100%;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMi4xMTIiIGhlaWdodD0iMTYuNTg0IiB2aWV3Qm94PSIwIDAgMjIuMTEyIDE2LjU4NCI+DQogIDxwYXRoIGlkPSJjaGVja2VkIiBkPSJNMCw3My40NGw3LjU3Miw3LjU4NkwyMi4xMTIsNjYuNWwtMi4wODctMi4wNTlMNy41NzIsNzYuODgxLDIuMDU5LDcxLjM2N1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTY0LjQ0MykiIGZpbGw9IiMwZTU3MDkiLz4NCjwvc3ZnPg0K');
	}
}

.c-red {
	font-weight: 500;
	color: #C4041C;
}
//====================================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================================================

//<Адаптив>===========================================================================================================================================

@media (max-width: 812px) {
	.header {
		position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500000;
    background: #fff;
	}
	.page {
    padding-top: 48px;
	}
}

@media (max-width: 360px) {
	.container {
    padding: 0 15px;
	}
}